[project]
name = "probly"
version = "0.1.0"
description = "The coolest and most used uncertainty library in Python."
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.1",
    "mpltern>=1.0.4",
    "notebook>=7.3.2",
    "numpy<=2.1.2,>=2.0.0",
    "scikit-learn>=1.6.1",
    "torch>=2.6.0",
    "torchvision>=0.21.0",
    "tqdm>=4.67.1",
]

[project.scripts]
probly = "probly:main"

[project.optional-dependencies]
cpu = ["torch==2.6.0"]
cuda12 = ["torch==2.6.0"]

[tool.uv]
conflicts = [[{ extra = "cpu" }, { extra = "cuda12" }]]

[tool.uv.sources]
torch = [
    { index = "torch-cpu", extra = "cpu" },
    { index = "torch-cuda12", extra = "cuda12" },
]

[[tool.uv.index]]
name = "torch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[[tool.uv.index]]
name = "torch-cuda12"
url = "https://download.pytorch.org/whl/cu124"
explicit = true

[dependency-groups]
dev = [
    "coverage>=7.6.12",
    "ipykernel>=6.29.5",
    "notebook>=7.3.2",
    "pre-commit>=4.1.0",
    "pytest>=8.3.5",
    "ruff>=0.9.6",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/probly"]

[tool.ruff]
line-length = 100
target-version = "py313"

[tool.ruff.lint]
ignore = ["E501"]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.coverage.report]
fail_under = 95
directory = "tests"
