name: Pull Request Checks
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  # ----------------------------------------------------------------------------------------------
  # Code Quality Checks and Linting
  # ----------------------------------------------------------------------------------------------
  check_code_quality:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

    # ----------------------------------------------------------------------------------------------
    # Code Coverage
    # ----------------------------------------------------------------------------------------------
    run_coverage:
        name: Run Test Coverage
        runs-on: ubuntu-latest
        needs:
            - run_unit_tests
            - check_code_quality
            - install_and_import
        steps:
            -   uses: actions/checkout@v5
            -   name: Set up Python and uv
                uses: astral-sh/setup-uv@v7
                with:
                    python-version: "3.12"
                    enable-cache: true
            -   name: Install test dependencies
                run: uv sync --no-dev --group test --group all_ml
            -   name: Measure coverage
                run: uv run --no-sync pytest "tests/probly" --cov=probly --cov-report=xml
            -   name: Upload coverage to codecov
                uses: codecov/codecov-action@v5
                with:
                    token: ${{ secrets.CODECOV_TOKEN }}
                    fail_ci_if_error: false
